@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.scroll-container {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  height: 300px;
}

.pokemon-card {
  flex: 0 0 auto;
  width: 200px;
  height: 250px;
  margin-right: 20px;
}

.pokemon-card img {
  max-height: 120px;
  width: auto;
}

.pokemon-card:not(:last-child) {
  margin-right: 20px;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
